* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  /* border: 1px solid rgb(220,220,200); */
}
/* This is the universal reset for every page */

.header-image {
  background-size: cover;
  background-position: center;
  display: flex;
  text-align: center;
  min-height: 100vh;
}
/* h1, h2 {
  font-family: arial;
} */

h1 {
  font-size: 4rem;
  color: white;
}
h2 {
  font-size: 2rem;
  color: white;
  font-weight: 300;

}

h3 {
  font-size: 1.5rem;
  text-align: justify;
  padding-top: 4rem;
}

.iconsection h3 {
  font-size: 2.5;
  text-align: center;
}

h4 {
  font-size: 1rem;
  text-align: center;
}

h5 {
  font-size: 4rem;
  text-align: left;
  line-height: 2.2rem;
}

span {
  color: orange;
}

.tile-image {
  background-image: url('images/charles-deluvio-351207.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 80vh;
}
.tile-image2 {
  background-image: url('images/rhema-kallianpur-275251.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 80vh;
}



.tile-text p, h3 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.iconsection {
  background-color: #192b37;
  color: white;
  padding: 3rem;
  min-height: 40vh;
}

.iconsection p, i {
  padding-left: 3rem;
  padding-right: 3rem;
}

.iconsection h3 {
  padding: 2rem;
}

.iconsection p {
  font-size: 0.75rem;
}

.fa-cloud {
  text-align: center;
  display: block;
  padding-bottom: 1rem;
}

.banner {
  background-image: url('images/joanna-kosinska-129039.jpg');
  background-size: cover;
  background-position: 40% 32%;
  background-color: #f7b400;
  display: flex;
  text-align: center;
  min-height: 40vh;
}

.little {
  font-size: 1rem;
  text-align: center
}

.big {
  font-size: 3rem;
  text-align: center;
}

.white {
  color: white;
}

.quote-text {
  font-size: 2.8rem;
  text-align: center;
}

.quote-author {
  font-size: 1rem;
  padding: 2rem;
  text-align: right;
  color: grey;
}

.quote {
  padding: 5rem;
  min-height: 40vh;
}

.fa-quote-left {
  color: grey;
}

.fa-quote-right {
  color: grey;
}

.connect {
  background-color: #192b37;
  color: white;
  padding: 5rem;
  min-height: 40vh;
}

.connect-text {
  font-size: 0.8rem;
  padding-right: 100px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: orange;
  color: white;
  width: 100%;
  padding: 12px 19px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: white;
  color: black;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #192b37;
  padding: 20px;
}

/* media queries */
@media all and (max-width: 768px){
  .banner {
    background-image: none;
  }
}
