<!DOCTYPE HTML>
<html>
<!-- HEAD this is where we put all the extra info for the browser like google fonts, css, seo -->
<head>
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- this link gives me the icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"> <!-- this link gives me gridlex -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,800" rel="stylesheet"> <!--this gives me the font-->
  <link href="style.css" rel="stylesheet">   <!-- this link has to be here for the css to apply always put it to the bottom so it is the superior stylesheet and is read last. -->
</head>
  <!--BODY this is where the entire website will go  -->
  <body>
    <header class="grid header-image" style="background-image: url('{{page.banner-image}}');">
      <div class="col-12-middle">
      <h1 class="col-12">{{page.banner-heading}}</h1>
      <h2 class="col-12">{{page.banner-subheading}}</h2>
      </div>
    </header>

{{content}}

  </body>
</html>
